{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<section class="py-5 d-flex justify-content-center align-items-center" style="background-image: url('{% static 'images/bg.jpg' %}'); height: 100vh;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100"> <!-- Adicione essa div para centralizar o conteúdo verticalmente e horizontalmente -->
                    <!-- CUSTOM BLOCKQUOTE -->
                    <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                        <h2 class='text-center'>Conta inativa</h2>

                           <p>A conta desse usuário está inativa</p>
                        <a href="{% url 'index' %}" class="form-control btn btn-primary submit d-flex align-items-center justify-content-center mt-3">Voltar</a>

                    </blockquote><!-- END -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
