{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load socialaccount %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<body class="img js-fullheight" style="background-image: url('{% static 'images/bg.jpg' %}');">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
    <h1 style='color: white'>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
    <p class='mb-5'>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">

                {% csrf_token %}

                <div class="form-group">
		      			<input type="email" name='email' class="form-control" placeholder="Email" required>
		      		</div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3 mt-2">Redefinir senha</button>
	            </div>
			</form>		
			
			</div>
		</div>

	</section>
{% endblock %}
